* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family:Roboto, sans-serif;
  
}

.section1 {
  background-color: #1f2347;
}
.header {
  display: flex;
  
  
  
}

.nav-left,.nav-right {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;

}

.logo{
  font-size: 24px;
  font-weight: 700;

}
.qualitytext{
  color: #3882f6;
}

.carstext {
  color: #f9faf8;
}


ul{
  display: flex;
  gap: 14px;
}

.footer{
  margin-top: auto;
  background-color: #1f2347;
  padding: 18px;
  display: flex;
  justify-content: center;
  align-items: center;

}
a{
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}


li{
  list-style-type: none;
  
}

p {
  color: #e5e7eb;
  font-size: 18px;
}


.h1{
  color: #f9faf8;
  font-weight: bolder;
  font-size: 48px;
}


.sign_up-in-section1{
  background-color: #3882f6;
  color: #e5e7eb;
  width: 95px;
  height: 35px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: opacity 0.15s;
  font-size: 15px;

}

.sign_up-in-section1:hover{
  opacity: 0.8;

}
.sign_up-in-section1:active {
  opacity: 0.5;
}

.Image{
  height: 250px;
  width: auto;
  margin: 50px;
  transition: 0.15s;
}
.Image:hover {
  opacity: 0.8;
  height: 300px;
  width: auto;
  
  
  
  

}

.content {
  display: flex;
  margin: 50px;

}

.content-left,.content-right{
  display: flex;
  width: 50%;
  justify-content: center;
  flex-direction: column;
  
  
  

}
.content-left {
  margin-left: 100px;


}
.content-right{
  align-items: center;
}


.section2 {
  background: white;
  padding: 50px;
}

.infoheader-section2{
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  text-align: center;
}

.container-s2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin: 70px;

  
}

.container-for-images-in-s2 {
  width: 150px;
  height: 150px;
  transition: 0.15s;
  

}
.imgins2{
  width: 100%;
  height: 100%;
  border-color: #3882f6;
  border-style: solid;
  border-radius: 20px;
  transition: 0.15s;

}
.imgins2:hover{
  border-color: rgb(56,130,246,0.5);
  border-width: 5px;
  
}

.container-for-images-in-s2:hover {
  width: 170px;
  height: 170px;
  

}
.pins2{
  color: rgb(102, 102, 102);
  text-align: center;
}

.section3 {
  background-color:#e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px;

}

.quote{
  font-size: 36px;
  font-style:italic;
  font-weight:lighter;
  color: #1f2937;
  
}

.author {
  margin-top: 20px;
  margin-left:40%;
  font-weight: bold;
  font-size: 18px;
}


.section4 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;



}

.Section4-cont {
  background-color: #3882f6;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: 40%;
  
}

.section4-left {
  width: 80%;
}


.Section4-signup{
  background-color: #3882f6;
  color: #e5e7eb;
  width: 95px;
  height: 35px;
  border-radius: 4px;
  border-color: white;
  cursor: pointer;
  transition: opacity 0.15s;
  font-size: 15px;

}

.Section4-signup:hover{
  opacity: 0.8;

}
.Section4-signup:active {
  opacity: 0.5;
}


.section4-left{
  width: 80%;
}

.section4-heading {
  color: white;
  font-size: 25px;
  font-weight: bold;
}


.section4-p{
  color: #e5e7eb;
  font-size: 18px;
}


